<!DOCTYPE html>
<html>
  <head>
    <title>Matplay</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

  <section class="hero is-success is-fullheight">
    <div class="hero-body">
        <% flash.each do |type, msg| %>
          <div align='center'>
            <%= msg %>
          </div>
        <% end %>
        <%= yield %>
      </div>
    </div>
  </section>
  </body>
</html>
